<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin control</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class = "orange lighten-2">
    <div class ="container">
    <div class="center">
        <div class="small_buffer"></div>
        <div class="statement">
        <p>User list</p>
        <div class="small_buffer"></div>
        </div>
        <div class="table_font">
        <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Is Admin?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < userlist.length; i++) { %>
            <tr>
                <td><%= userlist[i].user_id %></td>
                <td><%= userlist[i].email %></td>
                <td><%= userlist[i].isAdmin %></td>
                <td>
                    <a class="btn-small waves-effect waves-light green" href="/admin_edit/<%=userlist[i].user_id %>/promote"><i
                            class="material-icons right">arrow_upward</i>Promote</a>
                    <a class="btn-small waves-effect waves-light orange" href="/admin_edit/<%=userlist[i].user_id %>/demote"><i
                            class="material-icons right">arrow_downward</i>Demote</a>
                    <a class="btn-small waves-effect waves-light red" href="/admin_edit/<%=userlist[i].user_id %>/delete"><i
                        class="material-icons right">delete</i>Delete User</a>
                </td>
            </tr>

            <% } %>
        </tbody>
        </table>
  
        </div>
        <div class = "horizontal_buffer">
            <table>
                <td> <a class="waves-effect waves-light btn-small" href="/admin"><i class="material-icons right">arrow_back</i>return</a>
                </td>
            </table>
        </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>