<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class = "teal lighten-2">
    <div class ="container">
    <div class="center">
        <div class="small_buffer"></div>
        <div class="statement">
        <p>Your order receipt is shown below.</p>
        <div class="small_buffer"></div>
        <p>Please review your order and make any changes before your final submission.</p>
        </div>
        <div class="table_font">
        <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Sum</th>
                <th>Special Requests</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < receipt.length; i++) { %>
            <tr>
                <td><%= receipt[i].menu_item %></td>
                <td><%= receipt[i].quantity %></td>
                <td>$<%= receipt[i].price*receipt[i].quantity %></td>
                <td><%= receipt[i].requests %></td>
            </tr>

            <% } %>
        </tbody>
        </table>
        <h6>Total: $<%= sum %> </h6>
        </div>
        <div class = "horizontal_buffer">
            
            <table>
                <td> <a class="waves-effect waves-light btn-large red" href="/menu"><i class="material-icons right">arrow_back</i>return</a>
                    <p></p>
                    <a class="waves-effect waves-light btn-large green" href="/success"><i class="material-icons right">arrow_forward</i>complete order</a>
                </td>
            </table>
        </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>