<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order success!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class = "teal lighten-2">
    <div class="container">
    <div class ="center">
        <div class="small_buffer"></div>
        <div class="statement">
        <h4>Thank you! Your order has been successfully completed. </h4>
        <div class="small_buffer"></div>
        <p>Please contact me if you have any questions or if you'd like to make any changes to your order!</p>
        </div>
        <div class="table_font">
        <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Sum</th>
                <th>Special Requests</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < inventory.length; i++) { %>
            <tr>
                <td><%= inventory[i].menu_item %></td>
                <td><%= inventory[i].quantity %></td>
                <td>$<%= inventory[i].price*inventory[i].quantity %></td>
                <td><%= inventory[i].requests %></td>
            </tr>

            <% } %>
        </tbody>
        </table>
        <h6>Total: $<%= sum %> </h6>
        </div>
        <div class = "button">
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>