<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complete history</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class = "orange lighten-2">
    <div class ="container">
    <div class="center">
        <div class="small_buffer"></div>
        <div class="statement">
        <p>Order History:</p>
        </div>
        <div class="small_buffer"></div>
        <div class="table_font">
        <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Date</th>
                <th>User</th>
                <th>Email</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Completed?</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < inventory.length; i++) { %>
            <tr>
                <td><%= inventory[i].history_id %></td>
                <td><%= inventory[i].date %></td>
                <td><%= inventory[i].username %></td>
                <td><%= inventory[i].email%></td>
                <td><%= inventory[i].item %></td>
                <td><%= inventory[i].quantity %></td>
                <% if(inventory[i].isComplete == 1) { %>
                    <td>Y</td>
                <% }
                else { %>
                    <td>N</td>
                <% } %>
            </tr>

            <% } %>
        </tbody>
        </table>
        <div class = "horizontal_buffer">
            <table>
                <td> <a class="waves-effect waves-light btn-large red" href="/admin"><i class="material-icons right">arrow_back</i>return</a></td>
            </table>
        </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>